.banner1 {
  background-image: url("/images/banner1.png");
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 1044px;
  display: block;
  margin: auto;
  clip-path: polygon(0 0%, 100% 0, 100% 88%, 50% 100%, 50% 100%, 0 88%);
}

.banner2 {
  background-color: $primary;
  width: 100%;
  height: 1880px;
  display: block;
  margin: auto;
  clip-path: polygon(50% 0%, 100% 10%, 100% 60%, 100% 100%, 0 100%, 0% 60%, 0 10%);
}

.banner2-1 {
  clip-path: polygon(0% 0%, 85% 0%, 100% 50%, 85% 100%, 0% 100%);
  top: 15%;
}

.banner2-2 {
  clip-path: polygon(15% 0%, 100% 0%, 100% 100%, 15% 100%, 0% 50%);
  bottom: 0%;
  right: 0%;
}

.quoMarkUp {
  left: 25%;
  top: 0px;
}

.quoMarkDown {
  right: 25%;
  bottom: 10%;
}

@media(max-width: 768px) {
  .banner2 {
    clip-path: polygon(50% 0%, 100% 3%, 100% 60%, 100% 100%, 0 100%, 0% 60%, 0 3%);
    height: 930px;
  }

  .banner1 {
    clip-path: polygon(0 0%, 100% 0, 100% 95%, 50% 100%, 50% 100%, 0 95%);
    height: 800px;
  }

  .banner2-1 {
    top: 8%;
    left: -5%;
  }

  .banner2-2 {
    width: 370px;
  }

  .quoMarkUp {
    left: 5%;
    top: 0px;
  }

  .quoMarkDown {
    right: 5%;
    bottom: 0%;
  }
}